body {
	margin: 0 auto;
}

#header {
	background-color: #333333;
	width: 100%;
	height: 125px;
	vertical-align: top;
	margin-bottom: 50px;
}

.profile {
	margin: 25px;
	display: inline-block;
	min-width: 200px;
	width: 50%;
}

.name {
	margin-left: 20px;
}

.links {
/*	margin-top: 50px;
*/	text-align: right;
	display: inline-block;
	width: 45%;
	min-width: 150px;
}

.intro {
	font-size: 1.5em;
	margin: 25px;
}

.projects {
	text-align: center;
}

.project {
	height: 200px;
	width: 200px;
	margin: 15px 10px;
}

#footer {
	margin-top: 35px;
	background-color: #333333;
	width: 100%;
	height: 75px;
}
